{% extends 'base.html' %}

{% block titulo %}{{ producto.nombre }}{% endblock %}

{% block contenido %}
    {% include 'navbar.html' %}
    <h2>{{ producto.nombre }}</h2>
    <ul>
        <li>SKU: {{ producto.sku }}</li>
        <li>Descripción: {{ producto.descripcion }}</li>
        <li>Precio: S/. {{ producto.precio }}</li>
        <li>Unidades Disponibles: {{ producto.stock }}</li>
        <li>Categorías:
            <ul>
                {% for cat in producto.categoria.all %}
                <li>{{ cat.nombre }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    {% if request.user.is_authenticated and producto.has_stock %}
        <button id="comprar">Comprar</button>
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        $(function() {
            $('#comprar').click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: '{% url "agregar_carrito" %}',
                    type: 'POST',
                    data: {
                        id: {{ producto.pk }},
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response){
                        alert('Producto agregado al carrito');
                        location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}