{% extends 'base.html' %}
{% load static %}

{% block contenido %}
    {% if request.user.is_authenticated %}
        <h1>Bienvenido {{ request.user.first_name }}!</h1>
    {% else %}
        <h1>Juguetería Polo Norte</h1>
    {% endif %}

    <img src="{% static 'img/gatito.jpg' %}" alt="" height="100">
    {% include 'navbar.html' %}
    <h3>Últimos productos</h3>
    <ul>
        {% for producto in productos %}
            <li><a href="{% url 'detalle_producto' pk=producto.id %}">{{ producto.nombre }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}